{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from '_render_field.html' import render_field, render_single_field %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/dt/dt-1.10.16/sl-1.2.5/datatables.min.css"/>
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/my.css') }}">
{% endblock %}

{% block app_content %}
    <div class="center-block">
        <div class="container-run" id="title">
            <h1> Run</h1>
        </div>
        <div class="container-run" id="run">
            <form id="run_form" method="post">
                <button type="button" formmethod="post" id="run_button" name="run_button"
                        class="btn btn-primary btn-lg">
                    <span id="span_run" class="glyphicon glyphicon-play"></span></button>
            </form>
        </div>
        <div  class="container-run" id="pdf_links">
            <a href="/show_pdf" target="_blank" class="btn btn-info">  Show pdf</a>
            <a href="/download_pdf" class="btn btn-info" download> <span id="span_run" class="glyphicon glyphicon-download-alt"></span> Download pdf</a>
        </div>

        <div id="log" class="log"></div>
         <form id="remove_form" method="post">
        <div class="container-run" id="remove_dataset">
            <button type="submit"  id="remove_button" name="remove_button" class="btn btn-primary btn-lg">
                Remove dataset
            </button>
        </div>
         </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/sl-1.2.5/datatables.min.js"></script>
    <script src="{{ url_for('.static', filename='run.js') }}"></script>
{% endblock %}

